<% if object.errors.any? %>
  <div class="errors">
    <strong><%= pluralize(object.errors.count, "hata") %> oluştu:</strong>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>